<div class="modal fade" id="suggestGameModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sugerir Partida</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label"><i class="fas fa-chess-pawn text-white-piece me-2"></i>Blancas</label>
                    <div class="suggested-player" id="whitePlayer">&nbsp;</div>
                    <input type="hidden" id="whitePlayerId">
                </div>
                <div class="mb-3">
                    <label class="form-label"><i class="fas fa-chess-pawn text-black-piece me-2"></i>Negras</label>
                    <div class="suggested-player" id="blackPlayer">&nbsp;</div>
                    <input type="hidden" id="blackPlayerId">
                </div>
                <div id="matchInfo" class="text-center"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-info" id="anotherGameBtn">
                    <i class="fas fa-dice me-2"></i>Otra partida
                </button>
                <button type="button" class="btn btn-primary" id="suggestGameBtn">Jugar</button>
            </div>
        </div>
    </div>
</div> 