{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column h-100">
    <!-- Barra de botones -->
    {% include "partials/action_buttons.html" %}
    
    <!-- Contenedor de tablas -->
    <div class="row tables-container">
        <!-- Tabla de Rankings -->
        {% include "partials/rankings_table.html" %}
        
        <!-- Tabla de Partidas -->
        {% include "partials/games_table.html" %}
                </div>
            </div>
            
<!-- Modales -->
{% include "partials/modals/add_game_modal.html" %}
{% include "partials/modals/add_player_modal.html" %}
{% include "partials/modals/suggest_game_modal.html" %}
{% endblock %}

{% block scripts %}
{% include "partials/scripts.html" %}
{% endblock %} 